<a href="https://colab.research.google.com/github/frodriguezdiazmadrealberta/PruebasSQLite3/blob/main/Bases_de_datos_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importar m贸dulo sqlite3
import sqlite3

# Crear un objeto de conexi贸n
conexion = sqlite3.connect("netflix.db")

# Abrir un cursor en la conexi贸n
cursor = conexion.cursor()

# Creamos la tabla series
cursor.execute("CREATE TABLE IF NOT EXISTS series (id_serie INTEGER, nombre TEXT, ntemp INTEGER, puntuacion REAL)")
"""
contador=1

# Insertamos los 5 registros de la tabla
cursor.execute("INSERT INTO series (id_serie, nombre, ntemp, puntuacion) VALUES (?,?,?,?)",(contador, "Stranger Things", 3, 8.8))
contador+=1
cursor.execute("INSERT INTO series (id_serie, nombre, ntemp, puntuacion) VALUES (?,?,?,?)",(contador, "Anne with an E", 3, 8.4))
contador+=1
cursor.execute("INSERT INTO series (id_serie, nombre, ntemp, puntuacion) VALUES (?,?,?,?)",(contador, "Friends", 10, 8.9))
contador+=1
cursor.execute("INSERT INTO series (id_serie, nombre, ntemp, puntuacion) VALUES (?,?,?,?)",(contador, "Riverdale", 5, 6.8))
contador+=1
cursor.execute("INSERT INTO series (id_serie, nombre, ntemp, puntuacion) VALUES (?,?,?,?)",(contador, "The Umbrella Academy", 2, 7.9))
contador+=1

# Guardamos los cambios realizados en la BD
conexion.commit()
"""

cursor.execute("SELECT nombre,ntemp,puntuacion FROM series WHERE puntuacion>8 ORDER BY puntuacion")

resultados=cursor.fetchall()

for r in resultados:
  print(r)

# Cerrar el cursor
cursor.close()

# Cerrar la conexi贸n
conexion.close()

('Anne with an E', 3, 8.4)
('Stranger Things', 3, 8.8)
('Friends', 10, 8.9)